[Unit]
Description=FileMonService
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=pi
Restart=on-failure
RestartSec=1s
ExecStart=/usr/bin/unbuffer /home/pi/FileMonService 9000 %%password%% /home/pi/usb_share
WorkingDirectory=/home/pi/

[Install]
WantedBy=multi-user.target
